{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block header %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Não sei o que vou colocar aqui</h1>
            <span class="subheading">Procurando ideias de como isso aqui vai funcionar lkkkkk </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}
{% block content %}

{% for post in object_list%}
<div class="post-preview">
    <a href="{{post.get_absolute_url}}">
      <h2 class="post-title">
       {{ post.title }}
      </h2>
      <h3 class="post-subtitle">
            {{ post.sumary |safe }}
      </h3>
    </a>
    <p class="post-meta">Por:
      <a href="">{{post.author}}</a>
      {{post.published}}</p>
</div>
<hr>
{% endfor %}
<div class="clearfix">
<a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
</div>
{% endblock content %}